* {
  box-sizing: border-box;
}

body {
  background: #333;
  color: #ccc;
  height: 100%;
  margin: 0;
  font-size: 18px;
}

/* Headings */
h1,
h2,
h3 {
  margin: 0;
  font-weight: 400;
}

ul {
  display: inline;
  padding: 0;
}

li {
  display: inline;
  margin-right: 10px;
}

a {
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.2rem;
  padding: 2px 7px;
}

a:hover {
  color: white;
  border-bottom: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  box-shadow: 0 4px 8px 0 blue, 0 3px 10px 0 #666;
}

/* Header Elements ------------------------- */
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  border-bottom: 2px solid black;
}

#header-img {
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#nav-bar {
  align-self: flex-end;
}

.nav-link {
  border-left: 2px solid blue;
}

/* Main Body Elements ------------------------- */
.home {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.main-title {
  text-align: center;
  margin-top: 20px;
  color: white;
}

#about > .container {
  display: flex;
  justify-content: space-evenly;
}

.box {
  border: 2px solid black;
}
